<div class="sidebar">
  
    <div class="sidebar-item">
        <a href="#" routerLink="/dashboard">
      <i class="fab fa-windows" aria-hidden="true"></i>
      <span class="sidebar-item-title">Dashboard</span>
    </a>
    </div>
  

    <div class="sidebar-item">
      <a href="#" routerLink="/">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <span class="sidebar-item-title">New Order</span>
    </a>
    </div>
  
  
    <div class="sidebar-item">
        <a href="#" routerLink="/status">
      <i class="fas fa-cube" aria-hidden="true"></i>
      <span class="sidebar-item-title">Status</span>
    </a>
    </div>
  
</div>
