$primary: #153158;
$success:#7ed221;
$header-collapse:#494949;
$btn-background: #4990e2;
$warning-text: #ff2954;
$success-text:#29a840;
$cancelled-status:#ff2954;
$pending-status: #007aff;
$completed-status: #4bd963;
$dark-text: #3a3a3a;
